{% extends 'blog/base.html' %}
{% load staticfiles %}

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% block header-image %}{% static "img/home-bg.jpg" %}{% endblock %}
    {% block header-heading %}Abhisek's Blogspot &#9786;&#128526;&#128515;{% endblock %}
    {% block header-subheading %}My first attempt at Django and Bootstrap{% endblock %}

<!-- Main Content -->
    {% block content %}
    <div class="container">
        <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    
        {% for post in posts %}
        <div class="post-preview">
            <a href="{% url 'post' post.id %}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
            </a>
                <h4>
                    {{ post.body|truncatechars:150|safe}}
                </h4>
            <p class="post-meta">Posted by <a>{{ post.author }}</a> on {{ post.created }}</p>
        </div>
        <hr>
        {% endfor %}

        {% include 'blog/paginator.html' %}
        
    </div>
    </div>
    </div>
    {% endblock %}