{% extends 'blog/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% load staticfiles %}
<!-- overriding the title of the main blog with the post's title -->
{% block title %}{{ post.title }}{% endblock %}


<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	{% block header-image %}{% static "img/post-bg.jpg" %}{% endblock %}
	{% block header-heading %}{{ post.title }}{% endblock %}
	{% block header-subheading %}{% endblock %}
	{% block header-meta %}
	Posted by {{ post.author }} on {{ post.created }}<br/>
	Posted {{ post.created|timesince }} ago
	{% endblock %}

{% block content %}
	<h2>{{post.title}}</h2>
	<p>{{post.body|safe}}</p>
	<br/><br/>

	<hr>
	<h2>comments</h2>
	{% if comments %}
	{% for comment in comments %}
	<hr>
	
		
		<h3>{{ comment.author }}&nbsp;&nbsp;&nbsp;
		<small>{{ comment.created|timesince }} ago</small>
		<h3>
		<h4><small>Commented on {{ comment.created }}</small></h4>
		<div class="comment-body">{{ comment.body }}</div>
	
	{% endfor %}
	{% else %}
		No comments yet
	{% endif %}
	<hr>
{% endblock %}

{% block form-section %}
<h2>add comment</h2>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<form action="" method="POST" class="form">    	
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	<button type="submit" class="btn btn-primary">Submit</button>
	{% endbuttons %}
</form>
</div>
{% endblock %}